.startscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    // pointer-events: none;
    color: white;
    height: 100vh;
    width: 100%;
    max-width: 1000px;

    span{
        width: 70%;
        max-width: 700px;
        font-size: 65px;
        padding-right: 24px;
    }

    img{
        width: 300px;
        max-width: 300px;
        object-fit: cover;
        border-radius: 120px;
    }
}