.startscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
    color: white;
    height: calc(100vh - 100px);

    span{
        max-width: 700px;
        font-size: 60px;
        margin-right: 24px;
    }

    img{
        max-width: 300px;
        max-height: 400px;
        object-fit: cover;
        border-radius: 20px;
    }
}