<div class="main-container">
    <div class="width-container">
        <div id="aboutmeID" class="d-flex mytext-container">
            <img src="../../assets/img/vg-bg-orange.png" alt="">
            <div class="details-container">
                <h2>About me</h2>
                <span>I am a passionate gamer and early adopter of new smartphone and social media technologies. 
                    My interest in the latest innovations led me to explore the world of cryptocurrency and blockchain, and I quickly realized that I wanted to work in the exciting field of fintech. 
                    To further my knowledge and skills, I enrolled in a professional training course as a web developer and was able to make rapid progress thanks to my motivation and passion for coding. 
                    I have developed several frontend applications and enjoyed creating realistic projects and receiving feedback from experienced developers. 
                    I am excited to continue growing as a software professional in the future.</span>
            </div>
        </div>
        <div class="aboutme-container" data-aos="flip-left" data-aos-duration="1000">
            <div class="section-container">
                <i>
                    <img src="../../assets/img/icons/walk-line.png" alt="">
                </i>
                <h3>I STARTED</h3>
                <span>as a self-employed businessman after my succesfull training as a banker. 
                    Later on I was a commercial employee in different industries and had different fields of activity.
                    None of them turned into passion or matched with my private interests. So I decided to turn my passion into my work.
                </span>
            </div>
            <div class="section-container" data-aos="flip-left" data-aos-duration="2000">
                <i>
                    <img src="../../assets/img/icons/heart-line.png" alt="">
                </i>
                <h3>MY PASSION</h3>
                <span>has allways been the digital world, mobile devices and the internet. I have allways dreamed of beeing involved in the latest technology and software. 
                    This dream never expired and I am now following my passion to achieve this goal.
                </span>
            </div>
            <div class="section-container" data-aos="flip-left" data-aos-duration="3000">
                <i>
                    <img src="../../assets/img/icons/flight-takeoff-line.png" alt="">
                </i>
                <h3>MY GOAL</h3>
                <span>is to do a job, where I can help shape software to improve user experiences. 
                    Better usability will help introduce general population to the progress of digitalisation in our world and I want to be a part of the people creating it.
                </span>
            </div>
        </div>
    </div>
</div>