.width-container {
    height: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #fc7a00;
    align-items: center;
    position: relative;
    border-top-right-radius: 20%;
    margin-top: 100px;
    
    .side-container{
        width: calc(80vw - 1000px);
        min-width: 800px;
        height: 800px;
        position: absolute;
        left: -800px;
        background-color: #fc7a00;
        z-index: -1;
    }
    
    .background-container {
        width: 100%;
        max-width: 800px;
        
        .contact-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 700px;
            max-width: 80%;

            .message-container{
                margin-top: 30px;
                h1{
                    font-size: 3em;
                }

                span{
                    font-size: 1.5em;
                }
            }

            .forms-container{
                width: 100%;
                height: 550px;
                display: flex;
                flex-direction: column;
                padding-top: 40px;

                span{
                    font-size: 1.5em;
                }
                
                input{
                    background-color: white;
                    color: black;
                    width: 100%;
                    height: 2em;
                    margin-top: 10px;
                    border-radius: 15px;
                    border: transparent;
                    padding-left: 10px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
                
                textarea{
                    background-color: white;
                    color: black;
                    width: 100%;
                    height: 4em;
                    margin-top: 10px;
                    border-radius: 15px;
                    padding-left: 10px;
                    border: transparent;
                    padding-top: 10px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }

                .btn-container{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    button{
                        background-color: rgb(130, 130, 130);
                        cursor: pointer;
                        color: white;
                        width: 250px;
                        height: 40px;
                        font-size: 1.5em;
                        border-radius: 20px;
                        border: solid 3px;
                        border-color:white;
                    }
                }
            }
        }
    }
}

.marg-btm{
    margin-bottom: 50px;
}

.mail-link{
    color: white;
    font-weight: bold;
}