header {
    max-width: 1000px;
    width: 100%;
    position: fixed;
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    a {
        text-decoration: none;
        color: white;
        margin-left: 32px;
        font-weight: 600;

        &:hover{
            color: #fa2759;
        }
    }

    img {
        cursor: pointer;
        height: 60px;
    }
}