header {
    // max-width: 100vw;
    width: 100vw;
    position: fixed;
    background-color: black;
    height: 70px;
    z-index: 10;
    display: flex;
    justify-content: center;
    
    .menu-container{
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: white;
            margin-left: 32px;
            font-weight: 600;
    
            &:hover{
                color: #fc7a00;
            }
        }
    
        img {
            cursor: pointer;
            height: 50px;
        }
    }

}