header {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    height: 100px;
    // margin-bottom: 70px;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // z-index: 2;

    a {
        text-decoration: none;
        color: white;
        margin-left: 32px;
        font-weight: 600;

        &:hover{
            color: #fa2759;
        }
    }

    img {
        cursor: pointer;
        height: 60px;
    }
}

// .darkLinks{
//     a {
//         color: black;

//         &:hover {
//             color: rgba(0, 0, 0, 0.8);
//         }
//     }
// }

// .headerDark{
//     background-color: white;
//     box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
// }