.container {
    height: 100vh;
    background: transparent;
    // z-index: -5;
    .hex {
        background: url("../../assets/img/hexagon.svg") repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 500px;
        z-index: -1;
    }

    .bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 300px;
        width: 300px;
        background: linear-gradient(90deg, #f433f4 0%, #0531f5 100%);
        filter: blur(20px);
        z-index: -2;
    }
}