.skills {
    color: white;
    height: 100vh;

    h2 {
        font-size: 56px;
        text-align: center;
        // padding-bottom: 64px;
    }

    .icon-container {
        display: flex;
        align-items: center;
    }

    i {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 40px;
        
        span {
            z-index: 1;
            height: 120px;
            width: 120px;
            display: flex;
            padding: 15px;
            justify-content: center;
            align-items: center;
            background: rgb(130, 130, 130);
            border-radius: 50%;
            box-sizing: border-box;
            transition: 255ms;
        }
        
        img {
            height: 80px;
            object-fit: contain;
        }
        
        u{
            // z-index: -2;
            position: absolute;
            top: 60px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background: #cecece;
            text-align: center;
            font-weight: bold;
            border-radius: 20px;
            height: 120px;
            width: 180px;
            padding-bottom: 25px;
            text-decoration: none;
            color: black;
            box-sizing: border-box;
            transition: 255ms;
            box-shadow: rgba(255, 255, 255, 0.45) 10px 10px 25px, rgba(255, 255, 255, 0.45) -10px -10px 25px;
        }
    }
}