<div class="main-container">
    <div class="width-container skills">
        <h2>Skills</h2>
        <div class="icon-container">
            <div class="d-flex">
                <i class="boxshadow" data-aos="zoom-in" data-aos-duration="1000">
                    <span>
                        <img src="../../assets/img/icons/htmlcss.png" alt="">
                    </span>
                    <u>HTML / CSS</u>
                </i>
            </div>
            <div class="d-flex d-column">
                <i class="boxshadow" data-aos="zoom-in-down" data-aos-duration="1000">
                    <span>
                        <img src="../../assets/img/icons/Git-Icon-1788C 2.png" alt="">
                    </span>
                    <u>Git</u>
                </i>
                <i class="boxshadow" data-aos="zoom-in-up" data-aos-duration="1000">
                    <span>
                        <img src="../../assets/img/icons/firebase.svg" alt="">
                    </span>
                    <u>Google Firebase</u>
                </i>
            </div>
            <div class="d-flex d-column">
                <i class="boxshadow" data-aos="zoom-in-down" data-aos-duration="1000">
                    <span>
                        <img src="../../assets/img/icons/typescript.png" alt="">
                    </span>
                    <u>TypeScript</u>
                </i>
                <i class="boxshadow" data-aos="zoom-in" data-aos-duration="1000">
                    <span>
                        <img src="../../assets/img/icons/Group 226.png" alt="">
                    </span>
                    <u>Scrum</u>
                </i>
                <i class="boxshadow" data-aos="zoom-in-up" data-aos-duration="1000">
                    <span>
                        <img src="../../assets/img/icons/api.png" alt="">
                    </span>
                    <u>Rest API</u>
                </i>
            </div>
            <div class="d-flex d-column">
                <i class="boxshadow" data-aos="zoom-in-down" data-aos-duration="1000">
                    <span>
                        <img src="../../assets/img/icons/javascript.png" alt="">
                    </span>
                    <u>Java Script</u>
                </i>
                <i class="boxshadow" data-aos="zoom-in-up" data-aos-duration="1000">
                    <span>
                        <img src="../../assets/img/icons/angular.png" alt="">
                    </span>
                    <u>Angular</u>
                </i>
            </div>
            <div class="d-flex d-column">
                <i class="boxshadow" data-aos="zoom-in" data-aos-duration="1000">
                    <span>
                        <img src="../../assets/img/icons/testautomatisation.png" alt="">
                    </span>
                    <u>Test Automation</u>
                </i>
            </div>
        </div>
    </div>
</div>