<div class="main-container">
    <div class="width-container">
        <h2 id="myworkID">My Work</h2>
        <div id="project1" class="project-container vanillaTilt" data-tilt>
            <img src="../../assets/img/join.png">
            <div class="details-container">
                <div class="text-container">
                    <h3>Join - Kanban</h3>
                    <p>JavaScript - based kanban board</p>
                    <div>
                        <button class="btn1" onclick="window.open('https://github.com/v1cke/joinGA','_blank')">Git</button>
                        <button class="btn2" onclick="window.open('https://gruppe-237.developerakademie.net/index.html','_blank')">Open</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="project1" class="project-container vanillaTilt" data-tilt>
            <img src="../../assets/img/braveninja.png">
            <div class="details-container">
                <div class="text-container">
                    <h3>Brave Ninja</h3>
                    <p>JavaScript - based Jump and Run Game</p>
                    <div>
                        <button class="btn1" onclick="window.open('https://github.com/v1cke/BraveNinja','_blank')">Git</button>
                        <button class="btn2" onclick="window.open('https://viktor-gruenwald.developerakademie.net/braveninja/index.html','_blank')">Open</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="project1" class="project-container vanillaTilt" data-tilt>
            <img src="../../assets/img/ringoffire.png">
            <div class="details-container">
                <div class="text-container">
                    <h3>Ring of Fire</h3>
                    <p>Angular - based party game</p>
                    <div>
                        <button class="btn1" onclick="window.open('https://github.com/v1cke/ringoffire','_blank')">Git</button>
                        <button class="btn2" onclick="window.open('https://ring-of-fire-e30cc.web.app/','_blank')">Open</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="project1" class="project-container vanillaTilt" data-tilt>
            <img src="../../assets/img/join.png">
            <div class="details-container">
                <div class="text-container">
                    <h3>Portfolio</h3>
                    <p>My Homepage built with Angular</p>
                    <div>
                        <button class="btn1" onclick="window.open('https://github.com/v1cke/gruenwald.de','_blank')">Git</button>
                        <button class="btn2" onclick="window.open('https://gruppe-237.developerakademie.net/index.html','_blank')">Open</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>