h2 {
    font-size: 56px;
    color: white;
    text-align: center;
    // padding-bottom: 64px;
}

.project-container{
    display: flex;
    width: 90%;
    background-color: #cecece;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    border-radius: 25px;
    transform-style: preserve-3d;
    perspective: 1000px;
    font-size: 16px;

    img{
        width: 60%;
        max-width: 600px;
        max-height: 300px;
        object-fit: cover;
        padding: 16px;
        border-radius: 25px;
    }

    .details-container{
        transform: translateZ(50px);
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }

    .text-container{
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h3{
            text-decoration: underline;
            font-weight: bold;
        }

        button{
            background-color: #fc7a00;
            border-style: hidden;
            width: 110px;
            height: 45px;
            color: white;
            font-size: 20px;
            cursor: pointer;
            box-shadow: 10px 15px 20px rgb(0, 0, 0, 0.3);
        }

        .btn1{
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        .btn2{
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            margin-left: 8px;
        }
    }
}